USE [master]
GO
/****** Object:  Database [Sypachov]    Script Date: 03.04.2020 13:45:19 ******/
CREATE DATABASE [Sypachov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sypachov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sypachov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sypachov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sypachov_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sypachov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sypachov]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id_Student] [int] NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Gender] [char](10) NOT NULL,
	[NameGroup] [varchar](50) NOT NULL,
	[Stip] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ListOfGroup]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListOfGroup]
AS
SELECT        TOP (100) PERCENT NameGroup AS Группа, Id_Student AS [Шифр студента], FIO AS [Фамилия студента]
FROM            dbo.Student
ORDER BY Группа, [Фамилия студента]

GO
/****** Object:  Table [dbo].[Exam]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Id_Student] [int] NOT NULL,
	[Subject] [varchar](50) NOT NULL,
	[Mark] [smallint] NULL,
	[Exam_Date] [date] NOT NULL,
	[Id_Lect] [smallint] NOT NULL,
 CONSTRAINT [PK_Exam_1] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC,
	[Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Exam_A-18-06]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Exam_A-18-06]
AS
SELECT        dbo.ListOfGroup.[Фамилия студента] AS Expr1, COUNT(*) AS [Сдано экзаменов], MAX(dbo.Exam.Mark) AS [Лучшая оценка]
FROM            dbo.ListOfGroup INNER JOIN
                         dbo.Exam ON dbo.ListOfGroup.[Шифр студента] = dbo.Exam.Id_Student
WHERE        (dbo.ListOfGroup.Группа = 'А-18-06') AND (dbo.Exam.Mark > 2)
GROUP BY dbo.ListOfGroup.[Фамилия студента]

GO
/****** Object:  View [dbo].[IZ36]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IZ36]
AS
SELECT        dbo.Student.FIO AS ФИО, dbo.Exam.Id_Student AS [Номер студента], dbo.Exam.Mark AS Оценка, dbo.Student.NameGroup
FROM            dbo.Exam INNER JOIN
                         dbo.Student ON dbo.Exam.Id_Student = dbo.Student.Id_Student
WHERE        (dbo.Exam.Subject = 'Операционные системы')
GO
/****** Object:  View [dbo].[IZ36B]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IZ36B]
AS
SELECT        COUNT(Оценка) AS Expr1, NameGroup
FROM            dbo.IZ36
WHERE        (Оценка = 5)
GROUP BY NameGroup

GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Id_Lect] [smallint] NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Stage] [smallint] NULL,
	[Kafedra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[Id_Lect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LectExam]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LectExam] (Код, Фамилия, Стаж)
AS
SELECT Id_Lect,FIO,Stage FROM Lecturer WHERE Kafedra = 'ИС'
AND Id_Lect IN (SELECT DISTINCT Id_Lect FROM Exam)
GO
/****** Object:  Table [dbo].[ExamNew]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamNew](
	[ID_Student] [int] NOT NULL,
	[Subj] [varchar](30) NOT NULL,
	[Mark] [int] NULL,
	[Exam_Date] [date] NOT NULL,
	[ID_Lect] [int] NOT NULL,
 CONSTRAINT [PK_ExamNew] PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC,
	[Subj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTest]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTest](
	[ID_Student] [int] NOT NULL,
	[Subj] [varchar](30) NOT NULL,
	[Mark] [int] NULL,
	[Exam_Date] [date] NOT NULL,
 CONSTRAINT [PK_ExamNew1] PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC,
	[Subj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturerNew]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturerNew](
	[ID_Lect] [int] NOT NULL,
	[FIO] [varchar](30) NOT NULL,
	[Stage] [int] NULL,
	[Kafedra] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentNew]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentNew](
	[ID_Student] [int] NOT NULL,
	[FIO] [varchar](30) NOT NULL,
	[Birthday] [date] NULL,
	[Gender] [char](1) NOT NULL,
	[NameGroup] [varchar](10) NOT NULL,
	[Stip] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudGroup]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudGroup](
	[NameGroup] [varchar](50) NOT NULL,
	[Course] [smallint] NULL,
	[Kafedra] [varchar](50) NULL,
 CONSTRAINT [PK_StudGroup] PRIMARY KEY CLUSTERED 
(
	[NameGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudGroupNew]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudGroupNew](
	[NameGroup] [varchar](10) NOT NULL,
	[Kurs] [smallint] NULL,
	[Kafedra] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NameGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudGroupTest]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudGroupTest](
	[NameGroup] [varchar](10) NOT NULL,
	[Curator] [int] NULL,
	[Kurs] [smallint] NULL,
	[Kafedra] [varchar](10) NULL,
	[Starosta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NameGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectLect]    Script Date: 03.04.2020 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectLect](
	[ID_Lecturer] [int] NOT NULL,
	[NameSubject] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SubjectLect] PRIMARY KEY CLUSTERED 
(
	[ID_Lecturer] ASC,
	[NameSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (117162, N'Операционные системы', 4, CAST(N'2019-01-12' AS Date), 14)
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (117162, N'Управление Данными', 4, CAST(N'2019-01-11' AS Date), 13)
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (117163, N'Операционные системы', NULL, CAST(N'2019-01-12' AS Date), 14)
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (11, N'Никитин Эдуард Вадимович', 15, N'ПМ')
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (12, N'Лукашенко Эрик Иванович', 8, N'ПМ')
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (13, N'Шарапов Давид Дмитриевич', 10, N'ИС')
INSERT [dbo].[LecturerNew] ([ID_Lect], [FIO], [Stage], [Kafedra]) VALUES (2, N'Вася1', 8, N'ИС')
INSERT [dbo].[LecturerNew] ([ID_Lect], [FIO], [Stage], [Kafedra]) VALUES (13, N'Вася', 10, N'ИС')
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (117162, N'Сыпачев Андрей Константинович', CAST(N'1999-10-11' AS Date), N'М         ', N'ИДБ-17-07', 2000)
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (117163, N'Сичинава Марк Валерьянович', CAST(N'1999-05-30' AS Date), N'М         ', N'ИДБ-17-07', 2000)
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (117164, N'Смирнов Глеб Дмитриевич', CAST(N'1999-11-18' AS Date), N'М         ', N'ИДБ-17-07', 2000)
INSERT [dbo].[StudGroup] ([NameGroup], [Course], [Kafedra]) VALUES (N'А-18-06', 2, N'ПМ')
INSERT [dbo].[StudGroup] ([NameGroup], [Course], [Kafedra]) VALUES (N'ИДБ-17-05', 3, N'ИС')
INSERT [dbo].[StudGroup] ([NameGroup], [Course], [Kafedra]) VALUES (N'ИДБ-17-06', 3, N'ИС')
/****** Object:  Index [UQ__ExamNew__5E3C27AA75BA09DB]    Script Date: 03.04.2020 13:45:19 ******/
ALTER TABLE [dbo].[ExamNew] ADD UNIQUE NONCLUSTERED 
(
	[ID_Student] ASC,
	[Exam_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ExamTest__5E3C27AA08942BD6]    Script Date: 03.04.2020 13:45:19 ******/
ALTER TABLE [dbo].[ExamTest] ADD UNIQUE NONCLUSTERED 
(
	[ID_Student] ASC,
	[Exam_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lecturer__C1BEAA5C8E9D185A]    Script Date: 03.04.2020 13:45:19 ******/
ALTER TABLE [dbo].[LecturerNew] ADD UNIQUE NONCLUSTERED 
(
	[FIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StudentN__88E0A233691BD682]    Script Date: 03.04.2020 13:45:19 ******/
ALTER TABLE [dbo].[StudentNew] ADD UNIQUE NONCLUSTERED 
(
	[NameGroup] ASC,
	[FIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamNew] ADD  DEFAULT ((25)) FOR [Mark]
GO
ALTER TABLE [dbo].[ExamNew] ADD  DEFAULT (getdate()) FOR [Exam_Date]
GO
ALTER TABLE [dbo].[ExamTest] ADD  DEFAULT ((25)) FOR [Mark]
GO
ALTER TABLE [dbo].[ExamTest] ADD  DEFAULT (getdate()) FOR [Exam_Date]
GO
ALTER TABLE [dbo].[StudentNew] ADD  DEFAULT ('m') FOR [Gender]
GO
ALTER TABLE [dbo].[StudGroupNew] ADD  DEFAULT ((1)) FOR [Kurs]
GO
ALTER TABLE [dbo].[StudGroupTest] ADD  DEFAULT ((1)) FOR [Kurs]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Lecturer] FOREIGN KEY([Id_Lect])
REFERENCES [dbo].[Lecturer] ([Id_Lect])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Lecturer]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[Student] ([Id_Student])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Student]
GO
ALTER TABLE [dbo].[ExamNew]  WITH CHECK ADD FOREIGN KEY([ID_Lect])
REFERENCES [dbo].[LecturerNew] ([ID_Lect])
GO
ALTER TABLE [dbo].[ExamNew]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[StudentNew] ([ID_Student])
GO
ALTER TABLE [dbo].[ExamTest]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[StudentNew] ([ID_Student])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_StudGroup] FOREIGN KEY([NameGroup])
REFERENCES [dbo].[StudGroup] ([NameGroup])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_StudGroup]
GO
ALTER TABLE [dbo].[StudentNew]  WITH CHECK ADD FOREIGN KEY([NameGroup])
REFERENCES [dbo].[StudGroupNew] ([NameGroup])
GO
ALTER TABLE [dbo].[StudGroupTest]  WITH CHECK ADD FOREIGN KEY([Curator])
REFERENCES [dbo].[LecturerNew] ([ID_Lect])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StudGroupTest]  WITH CHECK ADD FOREIGN KEY([Starosta])
REFERENCES [dbo].[StudentNew] ([ID_Student])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SubjectLect]  WITH CHECK ADD FOREIGN KEY([ID_Lecturer])
REFERENCES [dbo].[LecturerNew] ([ID_Lect])
GO
ALTER TABLE [dbo].[ExamNew]  WITH CHECK ADD CHECK  (([Mark]>(24) AND [Mark]<=(100)))
GO
ALTER TABLE [dbo].[ExamTest]  WITH CHECK ADD CHECK  (([Mark]>(24) AND [Mark]<=(100)))
GO
ALTER TABLE [dbo].[LecturerNew]  WITH CHECK ADD CHECK  (([Stage]<=(80)))
GO
ALTER TABLE [dbo].[StudentNew]  WITH CHECK ADD CHECK  (([Gender]='m' OR [Gender]='f'))
GO
ALTER TABLE [dbo].[StudGroupNew]  WITH CHECK ADD CHECK  (([Kurs]>(0) AND [Kurs]<=(6)))
GO
ALTER TABLE [dbo].[StudGroupTest]  WITH CHECK ADD CHECK  (([Kurs]>(0) AND [Kurs]<=(6)))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ListOfGroup"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Exam"
            Begin Extent = 
               Top = 4
               Left = 308
               Bottom = 134
               Right = 482
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1155
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Exam_A-18-06'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Exam_A-18-06'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[25] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Exam"
            Begin Extent = 
               Top = 15
               Left = 43
               Bottom = 188
               Right = 213
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Student"
            Begin Extent = 
               Top = 9
               Left = 333
               Bottom = 187
               Right = 507
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2100
         Alias = 1845
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 2055
         SortOrder = 1890
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IZ36'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IZ36'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "IZ36"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IZ36B'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IZ36B'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Student"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListOfGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListOfGroup'
GO
USE [master]
GO
